<html  style="width: 100%;height: 100%;">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="keywords" content="jq视差动画, css3动画, html5特效, 网页特效" />
<meta name="description" content="Monkey个人博客（webHouse）,zhouxianfei,前om博客,个人前端知识分享，为了自己的梦想一起奋斗，我们的未来我们打造！duang！duang！duang！" />
     <link rel="shortcut icon" href="http://www.zhouxianfei.com/wp-content/themes/begin/img/favicon.ico">
<link rel="apple-touch-icon" sizes="114x114" href="http://www.zhouxianfei.com/wp-content/themes/begin/img/favicon.png">
     <link rel="stylesheet" href="/css/reset/normalize.min.css">
     <link rel="stylesheet" href="/css/reset/reset.min.css">
     <link rel="stylesheet" href="/css/homepage.css">

     <style type="text/css">

     </style>
</head>
<body style="width: 100%;height: 100%;">
    <canvas id="canvas"></canvas>
    <div class='page'>
  <div class='content'>
    <div class='circle'>
      <div class='circle_title'>
        <h2>Tomi Zhou‘s  Blog</h2>
        <h3>www.zhouxianfei.com</h3>
      </div>
      <div class='circle_inner'>
        <div class='circle_inner__layer'>
          <img src='/img/homepage/pc1.png'>
        </div>
        <div class='circle_inner__layer'>
          <img src='/img/homepage/pc3.png'>
        </div>
        <div class='circle_inner__layer'>
          <img src='/img/homepage/pc2.png'>
        </div>
      </div>
    </div>
  </div>
  <div class='content'>
    <div class='circle'>
      <div class='circle_title'>
        <h2>Tomi Zhou‘s  Blog</h2>
        <h3>www.zhouxianfei.com</h3>
      </div>
      <div class='circle_inner'>
        <div class='circle_inner__layer'>
          <img src='/img/homepage/pc4.png'>
        </div>
        <div class='circle_inner__layer'>
          <img src='/img/homepage/pc5.png'>
        </div>
        <div class='circle_inner__layer'>
          <img src='/img/homepage/pc6.png'>
        </div>
      </div>
    </div>
  </div>
  <div class='content'>
    <div class='circle'>
      <div class='circle_title'>
        <h2>Tomi Zhou‘s  Blog</h2>
        <h3>www.zhouxianfei.com</h3>
      </div>
      <div class='circle_inner'>
        <div class='circle_inner__layer'>
          <img src='/img/homepage/pc7.png'>
        </div>
        <div class='circle_inner__layer'>
          <img src='/img/homepage/pc8.png'>
        </div>
        <div class='circle_inner__layer'>
          <img src='/img/homepage/pc9.png'>
        </div>
      </div>
    </div>
  </div>
</div>
    <script type="text/javascript" src="/js/homepage.js"></script>
    <script type="text/javascript" src="/lib/cometcursor.js"></script>
</body>



</html>
